<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon matTooltip="Pandalist">assignment</mat-icon>
        <span class="spacer"></span>
        <a mat-button routerLink="/signup">Register</a>
        <a mat-button routerLink="/login">Login</a>
    </mat-toolbar-row>
  </mat-toolbar>


<div class="center">
    <mat-card class="my-card">
        <mat-card-content>
            <div class="main-div">
                <form class="my-form">
                    <mat-form-field class="full-width" style="width: 300px;">
                        <mat-label style="font-size: medium;">Email</mat-label>
                        <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="email">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" style="width: 300px;">
                        <mat-label style="font-size: medium;">Password</mat-label>
                        <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password">
                    </mat-form-field>

                </form>

            </div>
        </mat-card-content>
        <div class="container" style="text-align: center;">
            <span><a color="primary" href="/forgotPassword" style="font-size: small;text-align-last: right;">Forgot
                    password?</a></span>
        </div>
        <div class="main-div">
            <mat-card-actions>
                <button mat-raised-button style="width: 300px;" (click)="signinFunction()"
                    color="primary">LOGIN</button>
            </mat-card-actions>
        </div>
        <!-- <div class="container">
            
           
        </div> -->
    </mat-card>

</div>